.shapes__wrapper {
  .shape-1 {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 200px;
    height: 100px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    filter: saturate(70%) contrast(85%);
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 0, 0, 0.5) 25%,
      rgba(255, 0, 255, 0.8)
    );
    margin: 1em;
  }

  #oval {
    border-radius: 100px / 50px;
  }

  #box-1 {
    border-radius: 100px 50px;
  }
  #box-2 {
    border-radius: 25% 10%;
  }
  #box-3 {
    border-radius: 50%/100%;
  }
  #box-4 {
    border-radius: 10% 30% 50% 70%;
  }
  #box-5 {
    border-radius: 10% / 50%;
  }
  #box-6 {
    border-radius: 10px 100px / 120px;
  }
  #box-7 {
    border-radius: 50% 20% / 10% 40%;
  }

  .shape-2 {
    display: inline-block;
    vertical-align: middle;
  }

  #triangle-up {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 100px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
  }

  #triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    border-left: 100px solid red;
  }

  #triangle-down {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
  }

  #triangle-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid red;
    border-left: 50px solid transparent;
  }

  #triangle-top-left {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-left: 50px solid red;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  #triangle-top-right {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-right: 50px solid red;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  #triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-right: 50px solid red;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
  }
  #triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 50px solid red;
    border-left: 50px solid red;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
  }
  #curved-arrow {
    position: relative;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 25px solid red;
    transform: rotate(10deg);
    margin: 4em;
    &::after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 7px solid red;
      border-radius: 20px 0 0 0;
      top: -30px;
      left: -22px;
      width: 35px;
      height: 25px;
      transform: rotate(45deg);
    }
  }

  #trapezoid {
    border-bottom: 100px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
  }

  #parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background: red;
  }

  #star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
    &::after {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid red;
      position: absolute;
      content: "";
      top: 30px;
      left: -50px;
    }
  }

  #star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    &::before {
      border-bottom: 80px solid red;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: "";
      transform: rotate(-35deg);
    }
    &::after {
      position: absolute;
      display: block;
      color: red;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid red;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: "";
    }
  }
  #pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
    &::before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -85px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: transparent transparent red;
    }
  }

  #hexagon {
    position: relative;
    width: 100px;
    height: 57.735px;
    background: red;
    &::before {
      content: "";
      position: absolute;
      top: -28.8675px;
      left: 0;
      height: 0;
      width: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 28.8675px solid red;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 28.8675px solid red;
    }
  }

  #octagon {
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
    &::before {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 29px solid red;
      border-left: 29px solid #2d2d2d;
      border-right: 29px solid #2d2d2d;
    }
    &::after {
      content: "";
      width: 100px;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid red;
      border-left: 29px solid #2d2d2d;
      border-right: 29px solid #2d2d2d;
    }
  }

  #heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 2em;
    &::before {
      position: absolute;
      top: 0;
      left: 50px;
      content: "";
      width: 50px;
      height: 80px;
      border-radius: 50px 50px 0 0;
      background-color: red;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 50px;
      height: 80px;
      border-radius: 50px 50px 0 0;
      background-color: red;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
  }
  #inifinity {
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
    &::before,
    &::after {
      content: "";
      box-sizing: content-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border: 20px solid red;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-45deg);
    }
    &::after {
      left: auto;
      right: 0;
      border-radius: 50px 50px 50px 0;
      transform: rotate(45deg);
    }
  }

  #ying-yang {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
  }
  #ying-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid red;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  #ying-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: red;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
}
